<div class="row">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <h3>Requisition History</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Item</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of requisitionList; let i=index;">
                        <td>{{i+1}}</td>
                        <td><a class="link-primary" (click)="onClick(item)" style="cursor: pointer;">{{item.title}}</a></td>
                        <td>{{item.date|date}}</td>
                        <td>{{item.item_name}}</td>
                        <td>{{item.amount}}</td>
                        <td>
                            <span *ngIf="!item.approved">Awaiting approval</span>
                            <span *ngIf="item.approved && !item.distributed">Awaiting distribution</span>
                            <span *ngIf="item.distributed">Complete</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div *ngIf="hasPreviousPage()" class="col-md-2">
            <a class="cursor" (click)="onFirstClick()">&laquo; first</a>
            &nbsp;
            <a class="cursor" (click)="onPreviousClick()">previous</a>
        </div>
        <div class="col-md-2 current text-center">Page {{currentPage}} of {{totalPage}}</div>
        <div *ngIf="hasNextPage()" class="col-md-2">
            <a class="cursor" (click)="onNextClick()">next</a>
            &nbsp;
            <a class="cursor" (click)="onLastClick()">last &raquo;</a>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>