<div class="row">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8"><h3>Leave detail</h3></div>
            <div class="col-md-4" *ngIf="user.id==leave.approver && !leave.approved">
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-cyan" (click)="onApprove()">Approve</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="leave.day_count>0">
        <div class="row">
            <div class="col-sm-3"><strong>Title:</strong></div>
            <div class="col-sm-9">
                <span>{{leave.title}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>Application date:</strong></div>
            <div class="col-sm-9">
                <span>{{leave.creation_date|date}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>Start date:</strong></div>
            <div class="col-sm-9">
                <span>{{leave.start_date|date}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>End date:</strong></div>
            <div class="col-sm-9">
                <span>{{leave.end_date|date}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>Days:</strong></div>
            <div class="col-sm-9">
                <span>{{leave.day_count}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>User comment:</strong></div>
            <div class="col-sm-9">
                <span>{{leave.comment}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><strong>Status:</strong></div>
            <div class="col-sm-9">
                <span *ngIf="leave.approved" class="text-success">Approved</span>
                <span *ngIf="!leave.approved" class="text-danger">Pending</span>
            </div>
        </div>
    </div>
</div>