<div class="row">
    <h3>{{driver.first_name}} {{driver.last_name}}</h3>
    <br><br><br>
    <form [formGroup]="driverForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="input-group mb-3">
          <label class="input-group-text" for="phone2">Phone 1</label>
          <input type="text" class="form-control" id="phone1" formControlName="phone1" placeholder="Phone 1" required>
          <div *ngIf="phone1?.invalid && (phone1?.dirty || phone1?.touched)" class="alert alert-danger">
            <div *ngIf="phone1?.errors?.required">Phone 1 is required.</div>
          </div>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="phone2">Phone 2</label>
            <input type="text" class="form-control" id="phone2" placeholder="Phone 2" formControlName="phone2" required>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="image">Photo</label>
          <input type="file" class="form-control" id="image">
        </div>
        <button type="submit" class="btn btn-cyan" [disabled]="phone1?.errors">Save</button>
    </form>
</div>