<div class="row">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="old_password" class="form-label">Current password</label>
            <input type="password" class="form-control" id="old_password" name="old_password" formControlName="oldPassword" required>
            <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)" class="alert alert-danger">
                <div *ngIf="oldPassword?.errors?.required">Current password is required.</div>
            </div>
          </div>
        <div class="mb-3">
            <label for="new_password1" class="form-label">New password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1" formControlName="newPassword1" required>
            <div *ngIf="newPassword1?.invalid && (newPassword1?.dirty || newPassword1?.touched)" class="alert alert-danger">
                <div *ngIf="newPassword1?.errors?.required">New password is required.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="new_password2" class="form-label">Retype new password</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2" formControlName="newPassword2" required>
            <div *ngIf="newPassword2?.invalid && (newPassword2?.dirty || newPassword2?.touched)" class="alert alert-danger">
                <div *ngIf="newPassword2?.errors?.required">New password is required.</div>
            </div>
            <div *ngIf="passwordForm?.errors" class="alert alert-danger">
              <div *ngIf="passwordForm?.errors?.noMatch">Passwords do not match.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-cyan" [disabled]="passwordForm.errors || oldPassword?.errors || newPassword1?.errors || newPassword2?.errors" disabled>Change</button>
      </form>
</div>