<div class="row">
    <div class="card-header">
        <h3>Driver List</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone 1</th>
                    <th scope="col">Phone 2</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of driverList; let i=index;">
                        <td>{{i+1}}</td>
                        <td><a class="link-primary" (click)="onClick(item)" style="cursor: pointer;">{{item.first_name}} {{item.last_name}}</a></td>
                        <td>{{item.phone1}}</td>
                        <td>{{item.phone2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div *ngIf="hasPreviousPage()" class="col-md-2">
            <a class="cursor" (click)="onFirstClick()">&laquo; first</a>
            &nbsp;
            <a class="cursor" (click)="onPreviousClick()">previous</a>
        </div>
        <div class="col-md-2 current text-center">Page {{currentPage}} of {{totalPage}}</div>
        <div *ngIf="hasNextPage()" class="col-md-2">
            <a class="cursor" (click)="onNextClick()">next</a>
            &nbsp;
            <a class="cursor" (click)="onLastClick()">last &raquo;</a>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>